.our-team {
    padding-bottom: 94px;
    padding-top: 94px;
    background-color: #f5f4fa;
  }
  .header-our-team {
    color: var(--chapter-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
  }
  
  .team-section {
    list-style: none;
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    justify-content: space-between;
  }
  
  .figure-person {
    width: 270px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    margin-right: 0px;
  }
  
  .figure-person:nth-child(1) {
    margin-left: 0px;
  }
  
  .figure-person:nth-child(4) {
    margin-right: 0px;
  }
  
  .figcaption-person {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .figcaption-person__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
  }
  
  .figcaption-person__job {
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color: var(--brand-color2);
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
  }
  
  .team-social-media {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-left: 0px;
  }
  
  .social-icon--our-team {
    fill: #afb1b8;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .social-icon--our-team:hover,
  .social-icon--our-team:focus {
    background: #2196f3;
    fill: #fff;
  }