.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.3830769231;
    letter-spacing: 0.03em;
    text-decoration: none;
    cursor: pointer;
    
  }

  .logo--studio {color: black;
  }
  
  .logo--web {color: var(--brand-color);
  }
  