.container {
      width: 1200px;
      margin: 0 auto;

      &--effective-solutions {
        align-items: center;
      }

      &--footer {
        padding-top: 60px;
        padding-bottom: 60px;
        display: flex;
      }
      &--header {
        display: flex;
        align-items: center;
      }
    }
    